<a href="https://colab.research.google.com/github/kaushanr/python3_docs/blob/main/Section_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function Exercises

In [ ]:
def return_day(num):
    week = ('Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday') # used tuple here since, order does not change
    if num in range(1,8):
        return week[num-1]
    return None

print(return_day(4))
print(return_day(7))
print(return_day(0))
print(return_day(10))

Wednesday
Saturday
None
None

In [ ]:
'''
last_element([1,2,3]) # 3
last_element([]) # None
'''

def last_element(some_list):
    if some_list:
        return some_list.pop() # some_list[-1] would be better since no modification is made to the original list
    return None

print(last_element([1,2,3]))
print(last_element([]),'\n')

def last_element(some_list):
    if some_list:
        return some_list[-1] # much better choice
    return None

print(last_element([1,2,3]))
print(last_element([]))

3
None

3
None

In [ ]:
'''
single_letter_count("Hello World", "h") # 1
single_letter_count("Hello World", "z") # 0
single_letter_count("HelLo World", "l") # 3
'''

#define single_letter_count below:

def single_letter_count(word,char):
  result = word.lower().count(char.lower())
  if result:
      return result
  return 0

print(single_letter_count("Hello World", "h"))

1

In [ ]:
'''
multiple_letter_count("awesome") # {'a': 1, 'e': 2, 'm': 1, 'o': 1, 's': 1, 'w': 1}
'''

# flesh out multiple_letter count:
def multiple_letter_count(word):
    return {char : word.count(char) for char in word}

print(multiple_letter_count("awesome"))

{'a': 1, 'w': 1, 'e': 2, 's': 1, 'o': 1, 'm': 1}

In [ ]:
'''
list_manipulation([1,2,3], "remove", "end") # 3
list_manipulation([1,2,3], "remove", "beginning") #  1
list_manipulation([1,2,3], "add", "beginning", 20) #  [20,1,2,3]
list_manipulation([1,2,3], "add", "end", 30) #  [1,2,3,30]
'''

def list_manipulation(some_list,cmd,loc,val=0):
    if cmd == 'remove':
        if loc == 'end':
            return some_list.pop()
        elif loc == 'beginning':
            return some_list.pop(0)
    elif cmd == 'add':
        if loc == 'beginning':
            some_list.insert(0,val)
            return some_list
        elif loc == 'end':
            some_list.append(val)
            return some_list

print(list_manipulation([1,2,3], "remove", "end"))
print(list_manipulation([1,2,3], "add", "beginning", 20))

3
[20, 1, 2, 3]

In [ ]:
'''




is_palindrome('testing') # False
is_palindrome('tacocat') # True
is_palindrome('hannah') # True
is_palindrome('robert') # False
is_palindrome('amanaplanacanalpanama') # True
'''

def is_palindrome(input):
  list_var = [char for char in input.lower() if char not in ' '] # convert to list object to remove spaces
  no_spaces = ''.join(list_var)
  list_var.reverse() # cannot assign to variable since return data is of NoneType - not a string method
  result = ''.join(list_var)
  if result == no_spaces:
    return True
  return False

print(is_palindrome('testing'))
print(is_palindrome('a man a plan a canal panama'))
print(is_palindrome('tacocat'),'\n')

# another solution

def is_palindrome(input):
  no_spaces = ''.join([char for char in input.lower() if char not in ' '])
  result = no_spaces[::-1] # reverses string order, returns string
  return result == no_spaces # returns True or False if statement Truthy

print(is_palindrome('testing'))
print(is_palindrome('a man a plan a canal panama'))
print(is_palindrome('tacocat'),'\n')

# another solution

def is_palindrome(string):
    stripped = string.lower().replace(" ", "") # .replace("char to be replaced","char to replace with") - a string method 
    return stripped == stripped[::-1]

print(is_palindrome('testing'))
print(is_palindrome('a man a plan a canal panama'))
print(is_palindrome('tacocat'))

False
True
True

False
True
True

False
True
True

In [ ]:
# .replace() - string method

something = 'unicorn'
print(something.replace('c','q')) # both arguments have to be strings
print('\n',''.replace.__doc__)

something = 'amanaplanacanalpanama'
print('\n',something.replace('a','T')) # replaces all instances of the character

print('\n',something.replace('a','T',3)) # replaces 3 instances of the character

uniqorn

 Return a copy with all occurrences of substring old replaced by new.

  count
    Maximum number of occurrences to replace.
    -1 (the default value) means replace all occurrences.

If the optional argument count is given, only the first count occurrences are
replaced.

 TmTnTplTnTcTnTlpTnTmT

 TmTnTplanacanalpanama

In [ ]:
'''
multiply_even_numbers([2,3,4,5,6]) # 48
'''

def multiply_even_numbers(num_list):
    result = 1
    for num in num_list:
      if num % 2 == 0:
        result *= num
    return result

print(multiply_even_numbers([2,3,4,5,6]))

48

In [ ]:
def intersection(list1,list2):
    set1 = set(list1)
    set2 = set(list2)
    return (list(set1 & set2))

print(intersection([1,2,3,4,5],[3,4,1,6,7]),'\n')

# another solution

def intersection(list1, list2):
    return [val for val in set(list1) & set(list2)]

print(intersection([1,2,3,4,5],[3,4,1,6,7]),'\n')

# another solution

def intersection(list1, list2):
    return list(set(list1) & set(list2))

print(intersection([1,2,3,4,5],[3,4,1,6,7]))

[1, 3, 4]

[1, 3, 4]

[1, 3, 4]

In [ ]:
'''
def isEven(num):
    return num % 2 == 0

partition([1,2,3,4], isEven) # [[2,4],[1,3]]
'''

def isEven(num):
  return num % 2 == 0

def partition(num_list,fn=isEven):
  result1 = [num for num in num_list if fn(num)]
  result2 = [num for num in num_list if not fn(num)]
  return [result1,result2]

print(partition([1,2,3,4], isEven),'\n')

# another solution

def partition(lst, fn):
    return [[val for val in lst if fn(val)], [val for val in lst if not fn(val)]]

print(partition([1,2,3,4], isEven),'\n')

# another solution

def partition(l, fn):
    return [[l.pop(l.index(i)) for i in l if fn(i)],l] # whatever is popped from the truthy list, the original list will then become the falsy list

print(partition([1,2,3,4], isEven))

[[2, 4], [1, 3]]

[[2, 4], [1, 3]]

[[2, 4], [1, 3]]