<a href="https://colab.research.google.com/github/kaushanr/python3-docs/blob/main/Section_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuples and Sets

In [ ]:
# Tuple - an ordered collection or grouping of items

obj_tuple = (1,2,3,True,'five',['a','b','c'],None,{'rand':'object'})
print(obj_tuple) # can contain any data type

  # its an immutable sequence, where the order is fixed and cannot be changed, hence faster than lists
  # data cannot be updated nor deleted

# finding whether some value exists inside tuple

print('five' in num_tuple)
print(0 in num_tuple)

# creating tuples

some_const = tuple('Hello') # iterates along each character of string object
print(some_const)

  # num = 45.73
  # print(tuple(num)) # throws error as float is not an iterable object

months = ['January','February','March','April','May','June','July','August','September','October','November','December']
months_tuple = tuple(months) # 'tuple' function takes single argument and converts iterable object to a tuple
print(months_tuple)

some_dict = {'username':'kaushanr','isBoring':True}
some_tuple = tuple(some_dict.items()) # creates nested tuples for dict.items()
print(some_tuple)

# accessing data in tuples

print(obj_tuple[5]) # accessing data through indexing similiar to lists
print(obj_tuple[-1])

# tuples in dictionaries

  # tuples can be used as keys in a dictionary, but other data types like lists
  # do not work as keys in a dictionary

locations = {
    (35.6895,39.6917) : 'Tokyo Office',
    (40.7128,74.0060) : 'New York Office',
    (37.7749,122.4194) : 'San Francisco Office'
}
print(locations[(35.6895,39.6917)]) # dict[key] passed in for value result

(1, 2, 3, True, 'five', ['a', 'b', 'c'], None, {'rand': 'object'})
True
False
('H', 'e', 'l', 'l', 'o')
('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December')
(('username', 'kaushanr'), ('isBoring', True))
['a', 'b', 'c']
{'rand': 'object'}
Tokyo Office

In [ ]:
# Tuple Looping

names = ('Mother','Voodoo','Preacher','Rabbit') # all hail MOH!
for name in names: # for loop print
  print(name)

sentence = ('This','tuple','object','is','in','ascending','order','...')

i = len(sentence) - 1
while i >= 0: # reversed print order with while loop
  print(sentence[i])
  i -= 1

# Tuple Methods

# .count() - returns the number of times a value appears in a tuple

num = (1,2,3,1,1,50.77,8,3,50.77)
print(num.count(50.77))

# .index() - returns the index at which the value is found in a tuple

print(num.index(2))
print(num.index(50.77)) # for repeated items, gives index of the first occurance only

# Nested Tuples

nested_tuple = (1,2,3,('a','b','c'),5,6)
print(nested_tuple[3])
print(nested_tuple[3][1]) # access inner tuple object inside tuple

# Slicing

print(nested_tuple)
print(len(nested_tuple))

sliced_tuple = nested_tuple[1:4] # slicing within start : end range - end index of slicing is exclusive!
print(sliced_tuple)

sliced_tuple = nested_tuple[1:6:2] # slicing within range with step over
print(sliced_tuple) #

Mother
Voodoo
Preacher
Rabbit
...
order
ascending
in
is
object
tuple
This
2
1
5
('a', 'b', 'c')
b
(1, 2, 3, ('a', 'b', 'c'), 5, 6)
6
(2, 3, ('a', 'b', 'c'))
(2, ('a', 'b', 'c'), 6)

In [ ]:
# Sets - similiar to formal mathematical sets that do not have duplicate values nor any order
        # hence values cannot be accessed by indexing

s = {1,4,5,True,None,'abc',60.13} # all data types except boolean can be added in
print(s)
print(type(s))

s = set({1,2,3,4,5,5,5}) # removes duplicate values
print(s)

s = set([1,2,3,4]) # 'set' function takes in a single argument
print(s)
print(type(s))

print(4 in s)
print(8 in s)

# accessing values in a set

for val in s:
  print(val)

# example

cities = ['Tokyo','Delhi','Auckland','Colombo','London','Delhi','Tokyo','Toronto','Kyoto','Madrid','Tokyo','Zurich'] # list of cities with duplicates

  # filter out the duplicates and return a list

filt_cities = list(set(cities)) # convert to set to filter duplicates and convert back to list 
print(filt_cities)

{1, 4, 5, None, 'abc', 60.13}
<class 'set'>
{1, 2, 3, 4, 5}
{1, 2, 3, 4}
<class 'set'>
True
False
1
2
3
4
['Tokyo', 'Colombo', 'Delhi', 'Auckland', 'Zurich', 'Madrid', 'London', 'Toronto', 'Kyoto']

In [ ]:
# Set Methods 

# .add() - adds an element to a set - ignored if item already in set

s = set([1,2,'a',3.777])
print(s)
s.add('added') # adds data to a random place in the set... no order
print(s)

# .remove() - removes a value from a set - triggers error if value not found

set1 = set(range(1,7))
print(set1)
set1.remove(4)
print(set1)

# .dicard() - same as .remove() - does not trigger key error for values not in set

set1.discard(2)
print(set1)
set1.discard(8) # executes, but throws no errors
print(set1)

# .copy() - makes a copy of the set

print(set1)
another_set = set1.copy()
print(another_set)
print(another_set is set1) # creates a copy in memory

# .clear() - clears out the entire set

set1.clear()
print(set1)

{1, 2, 3.777, 'a'}
{1, 2, 3.777, 'a', 'added'}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 5, 6}
{1, 3, 5, 6}
{1, 3, 5, 6}
{1, 3, 5, 6}
{1, 3, 5, 6}
False
set()

In [ ]:
# Set Math

# Union - '|'

math_students = {'Matthew','Helen','Prashant','James','Aparna'}
biology_students = {'Jane','Matthew','Charlotte','Mesut','Oliver','James'}

print(math_students|biology_students) # creates new set with no duplicates

# Intersection - '&'

print(math_students & biology_students)

{'Jane', 'Helen', 'Charlotte', 'Matthew', 'Mesut', 'James', 'Prashant', 'Aparna', 'Oliver'}
{'Matthew', 'James'}

In [ ]:
# Coding Excercise

# 1 - Create a variable called numbers which is a tuple with the the values 1, 2, 3 and 4 inside.
numbers = tuple(range(1,5))
print(numbers)

# 2 - Create a variable called value which is a tuple with the the value 1 inside.
value = tuple([1]) # (1,) - single valued tuple
print(value)

# 3 - Given the following variable:

values = [10,20,30]

# Create a variable called static_values which is the result of the values variable converted to a tuple
static_values = tuple(values)
print(static_values)

# 4 - Given the following variable

stuff = [1,3,1,5,2,5,1,2,5]

# Create a variable called unique_stuff which is a set of only the unique values in the stuff list
unique_stuff = set(stuff)
print(unique_stuff)

(1, 2, 3, 4)
(1,)
(10, 20, 30)
{1, 2, 3, 5}

In [ ]:
# Set Comprehension

some_set = {x**2 for x in range(1,10)} # unlike dictionaries, only one variable specified
print(some_set) # no order in the set, previous order scrambled

char_set = {char.upper() for char in 'hello'}
print(char_set) # order scrambled and duplicates removed

string = 'hello'
char_set = {char for char in string if char in 'aeiou'}
print(char_set)

val = len({char for char in string if char in 'aeiou'}) # returns length of set 
print(val)

val = len({char for char in string if char in 'aeiou'}) == 5 # checks whether length of set equal to 5
print(val)

string = 'sequoia'
val = len({char for char in string if char in 'aeiou'}) == 5 
print(val) # returns True

{64, 1, 4, 36, 9, 16, 49, 81, 25}
{'H', 'L', 'O', 'E'}
{'o', 'e'}
2
False
True